* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html, body {
  height:100%;
  width:100%;

}
body{
  background-color: #131720;

}
h3{
  color:white;
}
.topnav{
  overflow: hidden;
  background-color: #131720;
  padding:10px;

}
.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
